<style>

    .amazon-text {
        font-size: 18px;
        font-weight: bold;
    }
    
    .cart1-btn {
        margin-top: 8px;
        background-color: rgb(121, 82, 179);
        color: white;
        height: 36px;
        width: 105px;
        border: none;
        border-radius: 8px;
    }

      .cart2-btn {
        margin-top: 8px;
       background-color: white;
       color: rgb(100, 82, 125);
       border: none;
       height: 36px;
       width: 105px;
       border-radius: 18px;
       margin-left: 8px;
       font-weight: bold;
       font-size: 15px;
    }
    
    </style>
    
    <label class="amazon-text">Bootstrap</label>
    
    <div>
        <button class="cart1-btn">Getting started</button>
         <button class="cart2-btn">Download</button>
    </div>