<style>

.link-amazon {
    color: rgb(0,113,133);
    font-size: 18px;
}

.p-1 {
    font-weight: bolder;
    font-size: x-large;
}

.p-2 {
    color: rgb(0, 118, 0);
    font-size: 18px;
    font-weight: bolder;
}

.p-text {
    font-size: 20px;
}

.cart-btn {
    background-color: rgb(255,216,20);
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 18px;
}

.buy-btn {
    background-color: rgb(255,164,28);
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 18px;
}

    
</style>


<a  class="link-amazon" href="https://www.amazon.com">Back to Amazon</a>

<p class="p-1">Nike Black Running Shoes</p>

<p class="p-2">$39 - in stock</p>

<p class="p-text">Free delivery tomorrow.</p>

<button class="cart-btn">Add to Cart</button>
<button class="buy-btn">Buy Now</button>