<style>

.course-text {
    font-family: Verdana;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.begineer-text {
    font-family: Verdana;
    font-size: 20px;
    color: rgb(188, 182, 182);
    margin-top: 0;
}

.course-description {
    font-family: Verdana;
    width: 280px;
    margin-bottom: 20px;
}

.start-btn {
    height: 36px;
    width: 110px;
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    border-radius: 8px;
}


</style>


<p class="course-text">
    HTML CSS Course
</p>

<p class="begineer-text">
   Beginner to Pro
</p>

<p class="course-description">
   In this course, we'll learn the skills you need to become a devloper.
 </p>

 <button class="start-btn">Get Started</button>